// переменные и миксины
// переменные берутся из стайлгайда

$black: #232d37;
$white: #fff;
$dark-blue: #232d37;
$blue: #00aaff;
$gray: #e1e9f0;
$gray-dark: #f5f5f5;
$gray-txt: #87919b;

$red-dark: red;

$text-color: rgb(53,53,53);

$linkColor: $black;
$linkColor-visited: $red-dark;
$linkColor-hover: $red-dark;

$defaultShadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);

$mainFont: 'Open Sans', sans-serif;
$subFont: 'Myriad Pro', sans-serif;

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;

$fontSize: 16px;




