// переменные и миксины
// переменные берутся из стайлгайда

$black: #323232;
$dark: #3d3a3b;
$pink: #9c3862;
$white: #fff;
$gray: #e6e6e6;
$gray-light: #f8f8f8;
$beige: #f4f1ed;
$gray-dark: #8a8a8a;


$txt: #333333;
$red: #D62323;
$red-dark:  #B81111;
$dark-gray: #a7a7a7;

$text-color: rgb(53,53,53);

$linkColor: $dark;
$linkColor-visited: $red-dark;
$linkColor-hover: $red-dark;

$defaultShadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);

$mainFont: 'Gilroy', sans-serif;
$subFont: 'Roboto', sans-serif;

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;

$fontSize: 16px;




